<div class="rating item__rating" [attr.data-rating]="rating">
  <div class="rating__star-wrap rating__empty-star-wrap">
    <span class="rating__star rating__star_empty">&#9734;</span>
    <span class="rating__star rating__star_empty">&#9734;</span>
    <span class="rating__star rating__star_empty">&#9734;</span>
    <span class="rating__star rating__star_empty">&#9734;</span>
    <span class="rating__star rating__star_empty">&#9734;</span>
  </div>
  <div class="rating__star-wrap rating__fill-star-wrap">
    <span class="rating__star rating__star_fill">&#9733;</span>
    <span class="rating__star rating__star_fill">&#9733;</span>
    <span class="rating__star rating__star_fill">&#9733;</span>
    <span class="rating__star rating__star_fill">&#9733;</span>
    <span class="rating__star rating__star_fill">&#9733;</span>
  </div>
</div>

