<a [routerLink]="routerLink" class="item__link">
  <div class="item__avatar">
    <span *ngIf="number !== undefined" class="item__number">#{{number}}</span>
    <img *ngIf="image !== undefined" [src]="image" [attr.alt]="title"
         [ngClass]="{'item__img': imageType === 'img', 'item__cover': imageType === 'cover'}">
  </div>
  <div class="item__title">{{title}}</div>
  <p class="item__description">{{description}}</p>
  <div class="rating item__rating" [attr.data-rating]="rating">
    <div class="rating__star-wrap rating__empty-star-wrap">
      <span class="rating__star rating__star_empty">&#9734;</span>
      <span class="rating__star rating__star_empty">&#9734;</span>
      <span class="rating__star rating__star_empty">&#9734;</span>
      <span class="rating__star rating__star_empty">&#9734;</span>
      <span class="rating__star rating__star_empty">&#9734;</span>
    </div>
    <div class="rating__star-wrap rating__fill-star-wrap">
      <span class="rating__star rating__star_fill">&#9733;</span>
      <span class="rating__star rating__star_fill">&#9733;</span>
      <span class="rating__star rating__star_fill">&#9733;</span>
      <span class="rating__star rating__star_fill">&#9733;</span>
      <span class="rating__star rating__star_fill">&#9733;</span>
    </div>
  </div>
</a>

